* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  color: #d9d9d9;
}
body {
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  height: 160vh;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-family: sans-serif;
}
.menu-bar {
  display: flex;
  background: black;
  text-align: center;
}
.menu-bar ul {
  display: contents;
  list-style: none;
  color: white;
  font-size: 0.93rem;
}
.menu-bar ul li {
  width: 120px;
  margin: 6px;
  padding: 10px;
}
.menu-bar ul li a {
  text-decoration: none;
  color: white;
}
.menu-bar .fas {
  margin-right: 7px;
}
.sub-menu-1 {
  display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: black;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
  font-size: 0.7rem;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted white;
  background: transparent;
  border-radius: 0%;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}
.fa-angle-right {
  float: right;
}
.sub-menu-2 {
  display: none;
}
.hover-me:hover .sub-menu-2 {
  position: absolute;
  display: block;
  margin-top: -30px;
  margin-left: 140px;
  background-color: black;
}
.logo {
  color: white;
  text-align: center;
  margin-top: 2%;
  font-size: 30px;
  background-color: rgb(0, 0, 0, 0.5);
}
.logo-p {
  color: white;
  line-height: 3rem;
  font-size: 20px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
}

footer {
  display: flex;
  margin-top: 12rem;
  padding-top: 2rem;
  bottom: 0px;
  width: 100%;
  background: #111;
  border: white;
  border-radius: 5px;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #f12020;
}
button {
  background: #111;
}
#foot {
  border: aliceblue;
  box-sizing: border-box;
  border-radius: 3rem;
  margin-top: 4rem;
}

.img {
  margin-top: 14%;
  margin-left: 40%;
  width: 10%;
}
.imge {
  margin-top: 1rem;
}

@media only screen and (max-width:750px) {
  .menu-bar ul {
    display: block;
  }
  .menu-bar ul li:hover .sub-menu-1 {
    display: inline;
  }

  .main-content {
    display: inline;
  }

  .imge {
    display: none;
  }
}
